DEBUG=True
DEBUG_MULTILINE=True
SECRET_KEY=<secret-key-here>
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=localhost,127.0.0.1

USES_POSTGRES=True
POSTGRES_DB=picklepolls
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

PROD_POSTGRES_PASSWORD=prodpassword