# Coverage configuration file
# https://coverage.readthedocs.io/en/stable/config.html
# https://coverage.readthedocs.io/en/stable/config.html#syntax


# https://coverage.readthedocs.io/en/stable/source.html#execution
# https://coverage.readthedocs.io/en/stable/config.html#run
[run]

# https://coverage.readthedocs.io/en/stable/branch.html#how-to-measure-branch-coverage
branch = True



omit =
    */admin/*
    */migrations/*
    */tests/*
    *__init__*
    *manage*
    *settings.py
    *urls.py
    *apps.py
    *debug.py

    utils/*
    





[report]
exclude_lines =
    pragma no cover





    